footer{

}
footer p{
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
footer .column{
  padding: 1em;
}
.footer-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 0;
}
.footer-row ul {
  max-width: 300px;
}
.footer-row li a svg{
  fill: white;
  transition: all .2s ease-in-out;
}
.footer-row li a svg:hover{
  fill: #D0001B;
}
.footer-row-sponsors{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 700px;
}
.footer-row-sponsors a{
  display: inline-block;
}
/*LARGE SCREENS*/
@media (min-width: 850px){
  .footer-logo{
    width: 200px;
    margin: 30px auto;
  }
  footer p{
    letter-spacing: 0.15em;
    font-size: 0.75em;
    padding: 0.25em;
  }
  .footer-row{
    width: 300px;
  }
  .footer-row li{
    padding: 30px 5px;
  }
  .footer-row li a svg{
    max-width: 40px;
    height: 40px;
  }
  .footer-row-sponsors a img{
    margin: 30px 5px;
    max-height: 80px;
    width: auto;
  }
}
/*SMALL SCREENS*/
@media (max-width: 850px) {
  .footer-logo{
    max-width: 70vw;
    width: 200px;
    margin: 30px auto;
  }
  footer p{
    letter-spacing: 0.10em;
    font-size: 0.50em;
    padding: 0.25em;
  }
  .footer-row{
    max-width: 90vw;
    width: 260px;
  }
  .footer-row li{
    padding: 30px 2px;
    justify-content: space-between;
  }
  .footer-row li a svg{
    max-width: 30px;
    height: 30px;
  }
  .footer-row-sponsors{
    width: 90vw;
  }
  .footer-row-sponsors a img{
    margin: 30px 2px;
    max-height: 60px;
    width: auto;
  }
}
