/*LARGE SCREENS*/
@media (min-width: 850px){
  .home-hero{
    height: 90vh;
    width: 100vw;
    max-height: 90vh;
    max-width: 100vw;
    min-height: 90vh;
    min-width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../assets/images/home-hero/hero-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #111;
  }
  .home-hero-top{
    height: 90vh;
    width: 100vw;
    position: unset;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .home-hero-bottom{
    width: 100vw;
    position: absolute;
    bottom: 0;
  }
  .home-hero-players-small{
    display: none;
    visibility: hidden;
  }
}
/*SMALL SCREENS*/
@media (max-width: 850px) {
  .home-hero{
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../assets/images/home-hero/hero-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #111;
  }
  .home-hero-top{
    padding-top: 58px;
    height: 100vh;
    width: 100vw;
    position: unset;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .home-hero-bottom{
    width: 100vw;
    position: absolute;
    bottom: 0;
  }

  .home-hero-players-large {
    display: none;
    visibility: hidden;
  }
}
