.container-cdtko {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: bold;
}
.container-cdtko p{
  padding: 0;
}
.cdtko-container-top{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.cdtko-container-bottom{
  padding-bottom: 30px;
}
.cdtko-time{
  margin-top: 25px;
  font-size: 80%;
}
.cdtko-countdown{
  font-size: 300%;
}

.container-cdtko-home .cdtko-date, .container-cdtko-home .cdtko-club-name, .container-cdtko-home .cdtko-countdown{
  color: white;
}
.container-cdtko-home .cdtko-league, .container-cdtko-home .cdtko-location, .container-cdtko-home .cdtko-club-location, .container-cdtko-home .cdtko-time{
  color: #D0001B;
}
.container-cdtko-away .cdtko-date, .container-cdtko-away .cdtko-club-name, .container-cdtko-away .cdtko-countdown{
  color: white;
}
.container-cdtko-away .cdtko-league, .container-cdtko-away .cdtko-location, .container-cdtko-away .cdtko-club-location, .container-cdtko-away .cdtko-time{
  color: black;
}
/*LARGE SCREENS*/
@media (min-width: 850px){
  .container-cdtko .cdtko-container-middle{
    font-size: 1.25em;
  }
  .container-cdtko-home{
    background-image: url("../assets/images/backgrounds/pattern_extra_large_black.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #111;
  }
  .container-cdtko-away{
    background-image: url("../assets/images/backgrounds/pattern_extra_large_red.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #D0001B;
  }
}
/*SMALL SCREENS*/
@media (max-width: 850px) {
  .container-cdtko .cdtko-container-middle{
    font-size: 1.15em;
  }
  .container-cdtko-home{
    background-image: url("../assets/images/backgrounds/pattern_large_black.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #111;
  }
  .container-cdtko-away{
    background-image: url("../assets/images/backgrounds/pattern_large_red.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #D0001B;
  }
}
.cdtko-container-middle svg{
  width: 50px;
  height: 50px;
  fill: #D0001B;
}
.cdtko-container-top{

}
.cdtko-container-middle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}
.cdtko-container-middle img{
  width: 500px;
  max-width: 40%;
}
.cdtko-center{
  margin: auto;
}
.cdtko-container-bottom{

}
.cdtko-symbol{
  width: 50px;
  height: 50px;
}
