nav{
  color: white;
  z-index: 2;
}
/*LARGE NAV*/
@media (min-width: 850px) {

  .nav-other {
    position: absolute;
  }

  .nav-other a .logo {
    position: absolute;
    transform: translateY(35px);
    float: left;
    height: 55px;
    width: auto;
    margin: 5px;
    cursor: pointer;
  }


  .nav {
    display: flex;
    flex-direction: column-reverse;
  }

  .secondary-nav {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
  }

  .secondary-nav-links {
    list-style: none;
    margin: 0;
  }

  .secondary-nav-links li {
    float: left;
    display: inline-block;
    margin: 0;
  }

  .secondary-nav-links li a {
    color: black;
    text-decoration: none;
    line-height: 35px;
    font-size: 12px;
    padding: 5px 20px;
    transition: all .2s ease-in-out;
  }

  .secondary-nav-socials {
    float: right;
    list-style: none;
    margin-right: 5px;
    position: relative;
  }

  .secondary-nav-socials li {
    float: left;
    display: inline-block;
    margin: 0;
  }

  .secondary-nav-socials li:hover > ul {
    top: 73px;
    visibility: visible;
  }

  .secondary-nav-socials li a {
    color: black;
    text-decoration: none;
    line-height: 35px;
    font-size: 18px;
    padding: 0 5px;
    transition: all .2s ease-in-out;
  }

  .secondary-nav-socials li a svg {
    transform: translateY(4px);
    height: 20px;
    width: 20px;
  }

  .secondary-nav-links li a:hover {
    color: #D0001B;
  }

  .secondary-nav-socials li a svg {
    fill: black;
    transition: all .2s ease-in-out;
  }

  .secondary-nav-socials li a svg:hover {
    fill: #D0001B;
  }

  .primary-nav {
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
  }

  .primary-nav-links {
    margin: 0;
  }

  .primary-nav-links li {
    float: left;
    display: inline-block;
    margin: 0;
  }

  .primary-nav-links li a {
    color: white;
    text-decoration: none;
    line-height: 65px;
    font-size: 18px;
    padding: 20px 20px;
    transition: all .2s ease-in-out;
    border-bottom: 3px solid black;
  }

  .primary-nav ul li a:hover {
    color: #D0001B;
    border-bottom: 3px solid #D0001B;
  }

  .primary-nav-links li a span {
    display: none;
  }

  .sub-menu {
    z-index: 10;
    top: 100px;
    position: absolute;
    opacity: 0;
    visibility: visible;
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
    background: black;
  }

  .sub-menu li a {
    display: block;
    padding: 0 20px;
  }

  .primary-nav ul li:hover > ul {
    top: 100px;
    opacity: 1;
    visibility: visible;
  }
}
/*SMALL NAV*/
@media (max-width: 850px) {

  nav{
    position:fixed;
    max-width: 100vw;
  }

  .logo{
    height: 48px;
    width: 48px;
    margin: 5px;
    padding: 0;
  }
  .menu-btn{
    margin: 0;
  }

  #hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    z-index: 2;
  }

  .bar {
    position: absolute;
    height: 2px;
    width: 30px;
    background: #D0001B;
    display: block;
    border-radius: 5px;
    transition: .5s ease-in-out;
  }

  #bar1 {
    transform: translateY(-10px);
  }

  #bar3 {
    transform: translateY(10px);
  }

  /*HAMBURGER TRANSITION*/
  .change-bg {
    width: 2400px;
    height: 2400px;
  }

  .change #bar1 {
    transform: rotate(45deg);
  }

  .change #bar2 {

    transform: translateX(-20px);
    background: transparent;
  }

  .change #bar3 {
    transform: rotate(-45deg);
  }

  .change {
    display: block;
  }

  .change-secondary {
    background: black;
    transform: translateX(0px);
    visibility: visible;
  }

  .change-primary {
    margin-top: 50px;
    background: #232323;
    transform: translateX(0px);
    padding: 0;
    visibility: visible;
  }
  .secondary-nav-socials li a svg {
    transform: translateY(4px);
    height: 20px;
    width: 20px;
  }
  .nav-other {
    width: 100vw;
    background: black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .nav-other a{
    margin: 0;
  }
  .nav {
    position: absolute;
    display: block;
    justify-content: flex-end;
    max-width: 100%;
    /*side navbar from top measurement*/
    padding-top: 0px;
    background: black;
    height: 100vh;
    transform: translateX(-250px);
    transition: all .5s ease-in-out;
    visibility: hidden;
  }
  .nav-open {
    background: black;
    transform: translateX(0px);
    visibility: visible;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .nav div {
    margin: 0;
    width: 250px;
    max-width: 100vw;
  }
  .nav div ul {
    margin: 0;
    list-style: none;
    padding: 0
  }
  .primary-nav ul li {
    width: 250px;
    margin: 0;
  }
  .primary-nav-links li a {
    cursor: pointer;
    display: inline-block;
    background: #232323;
    color: white;
    width: 100%;
    text-decoration: none;
    line-height: 65px;
    font-size: 15px;
    padding: 0 20px;
    border-bottom: 3px solid #1b1b1b;
    transition: all .2s ease-in-out;
  }
  .primary-nav-links li a span {
    display: inline-block;
    width: 20px;
    height: 68px;
    float: right;
  }

  .primary-nav ul li a:hover, .secondary-nav-links li a:hover {
    color: #D0001B;
    border-bottom: 3px solid #D0001B;
  }
  .sub-menu{
    display: none;
    opacity: 0;
  }
  .change-visible {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 1;
  }

  .sub-menu li a {
    cursor: pointer;
    display: inline-block;
    background: #151515;
    color: white;
    width: 100%;
    text-decoration: none;
    line-height: 65px;
    font-size: 15px;
    padding: 0 20px;
    border-bottom: 3px solid #111;
    transition: all .2s ease-in-out;
  }

  .sub-menu li a:hover {
    color: #D0001B;
    border-bottom: 3px solid #D0001B;
  }
  .secondary-nav-links {
    padding: 0;
  }

  .secondary-nav-links li {
    width: 250px;
    margin: 0;
  }

  .secondary-nav-links li a {
    color: white;
    width: 100%;
    text-decoration: none;
    line-height: 65px;
    font-size: 15px;
    padding: 0 20px;
    border-bottom: 3px solid #111;
    transition: all .2s ease-in-out;
    display: inline-block;
    background: black;
  }
  .secondary-nav-socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .secondary-nav-socials li{
    margin: 6px 6px 180px 6px;
  }
  .secondary-nav-socials li a svg {
    height: 30px;
    width: 30px;
    fill: white;
    transition: all .2s ease-in-out;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .secondary-nav-socials li a:hover > svg {
    fill: #D0001B;
  }
  .nav-arrow svg {
    width: 20px;
    height: 68px;
    fill: #D0001B;
    transition: all .2s ease-in-out;
  }

  .rotate-arrow svg {
    transform: rotate(90deg);
  }
}

