.fixture-tabs{
  max-width: 800px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: bold;
  margin: 10px auto 0 auto;
}
.fixture-tabs a{
  margin: 0;
}
.fixture-tabs button{
  width: 50vw;
  max-width: 400px;
  border: none;
  transition: all .2s ease-in-out;
  margin-top: 10px;
  height: 40px;
  background: black;
  -webkit-appearance: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  color: grey;
  border-bottom: 3px solid #333;
  font-size: 18px;
  padding: 0 20px 20px;
}
.fixture-tabs button:hover{
  color: #D0001B;
  border-bottom: 3px solid #D0001B;
}

.fixture-tabs .fixture-tabs-button-active{
  color: white;
  border-bottom: 3px solid #D0001B;
  cursor: unset;
}
.fixture-tabs .fixture-tabs-button-active:hover{
  color: white;
  border-bottom: 3px solid #D0001B;
}
.fixture-title{
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  max-width: 800px;
  width: 100vw;
  padding: 10px 0;
}
.fixture-year-navigator{
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fixture-year-navigator p{
  color: grey;
  padding: 12px 4px 12px;
  font-size: 16px;
}
.year-navigator-side{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.year-navigator-side svg{
  height: 15px;
  width: 15px;
  fill: #333;
}
.year-navigator-centre p{
  color: #D0001B;
  font-size: 1.5em;
  font-weight: bold;
}
.container-fixture {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: bold;
  margin: 0 auto 10px auto;
}
.container-fixture p{
  padding: 0;
}
.fixtures-container-bottom{
  padding-bottom: 10px;
}
.fixtures-time{
  margin-top: 10px;
  font-size: 80%;
}
.container-fixtures-union .container-fixture{
  background: #1b1b1b;
}
.container-fixtures-union .fixtures-center, .container-fixtures-union .fixtures-club-name, .container-fixtures-union .fixtures-container-bottom span{
  color: white;
}
.container-fixtures-union .fixtures-club-location, .container-fixtures-union .fixtures-container-bottom p{
  color: #D0001B;
}
.container-fixtures-touch .container-fixture{
  background: white;
}
.container-fixtures-touch .fixtures-center, .container-fixtures-touch .fixtures-club-name, .container-fixtures-touch .fixtures-container-bottom span{
  color: black;
}
.container-fixtures-touch .fixtures-club-location, .container-fixtures-touch .fixtures-container-bottom p{
  color: #D0001B;
}
/*LARGE SCREENS*/
@media (min-width: 650px){
  .container-fixture .fixtures-container-top{
    font-size: 1em;
  }
  .container-fixtures-union{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: black;
  }
  .container-fixtures-touch{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: black;
  }
}
/*SMALL SCREENS*/
@media (max-width: 650px) {
  .container-fixture .fixtures-container-top{
    font-size: 1em;
  }
  .container-fixtures-union{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: black;
  }
  .container-fixtures-touch{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: black;
  }
}
.container-fixtures-union svg{
  width: 30px;
  height: 30px;
  margin-top: 20px;
  fill: #D0001B;
}
.container-fixtures-touch svg{
  width: 30px;
  height: 30px;
  margin-top: 20px;
  fill: #D0001B;
}
.fixtures-container-top{

}
.fixtures-container-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}
.fixtures-container-top img{
  width: 400px;
  max-width: 30%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.fixtures-center{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 200%;
  font-weight: bold;
}

.fixtures-center p{
  margin-top: 20px;
  padding: 0 20px;
}
.fixtures-container-bottom{

}
.fixtures-symbol{
  width: 50px;
  height: 50px;
}
