{% extends "base.html" %}
{% block content %}

<main>
    <div class="container-fluid container-fluid-black" style="padding-top: 200px;">
        <div class="container-box">
            <div class="container">
                <div class="container-title">
                    <h1>Components</h1>
                    <p>Below are some example components you can create using the Newcastle Ravens RFC front end toolkit.</p>
                    <ul>
                        <li><a href="components/header.html">Header</a></li>
                        <li><a href="components/hero.html">Hero</a></li>
                        <li><a href="components/kickoff.html">Kickoff</a></li>
                        <li><a href="components/starter.html">Starter</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}