{% extends "base.html" %}
{% block content %}
<main>
    <div class="container-fluid container-fluid-black">
        <div class="container-box">
            <div class="container">
                <div class="container-title">
                    <h1>Header 1</h1>
                    <p class="title1">Header 1</p>
                    <p class="subtitle1">Subtitle 1</p>
                    <h2>Header 2</h2>
                    <p class="title2">Header 2</p>
                    <p class="subtitle2">Header 2</p>
                    <h3>Header 3</h3>
                    <p class="title3">Header 3</p>
                    <p class="subtitle3">Header 3</p>
                    <h4>Header 4</h4>
                    <p class="title4">Header 4</p>
                    <p class="subtitle4">Header 4</p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}