{% extends "base.html" %}
{% block content %}
<header class="home-hero">
    <div class="home-hero-top">
        <img src="/assets/images/home-hero-logo.png" class="home-hero-logo">
    </div>
    <div class="home-hero-bottom">
        <img src="/assets/images/home-hero-players-desktop" class="home-hero-players-large">
        <img src="/assets/images/home-hero-players-mobile.png" class="home-hero-players-small">
    </div>
</header>
<main>

</main>
{% endblock %}