{% extends "base.html" %}
{% block content %}
<div class="container-fluid container-cdtko-home">
    <div class="container-cdtko">
        <div class="cdtko-container-top">
            <p class="cdtko-league">IGR League</p>
            <p class="cdtko-date">14 Mar 2021</p>
            <p class="cdtko-location"> Percy Park RFC</p>
        </div>
        <div class="cdtko-container-middle">
            <div>
                <img src="/assets/images/club-icons/ravens.png">
                <p class="cdtko-club-location">Newcastle</p>
                <p class="cdtko-club-name">Ravens</p>
            </div>
            <div class="cdtko-center">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                     y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
<metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
                    <g><path d="M846.5,153.5C753.9,61,630.9,10,500,10c-130.9,0-253.9,51-346.5,143.5C61,246.1,10,369.1,10,500c0,130.9,51,253.9,143.5,346.5C246.1,939,369.1,990,500,990c130.9,0,253.9-51,346.5-143.5C939,753.9,990,630.9,990,500C990,369.1,939,246.1,846.5,153.5z M500,914.1C271.6,914.1,85.9,728.4,85.9,500C85.9,271.6,271.6,85.9,500,85.9c228.4,0,414.1,185.8,414.1,414.1C914.2,728.4,728.4,914.1,500,914.1z"/>
                        <path d="M329.1,633h-0.6l-48.7-341.7H166.4l87.8,431.2h146.5l86.7-431.2H375L329.1,633z"/>
                        <path d="M826.3,421V320.9l-26.8-29.6H573.5l-30.8,29.6v168.3l172.8,83.9v54.2h-62.6v-62.1l-110.2,7.3v121.3l30.8,28.5h225.9l26.3-28.5V508.3l-172.2-83.9v-40.8h63.2v44.7L826.3,421z"/></g>
</svg>
            </div>
            <div>
                <img src="/assets/images/club-icons/ravens.png">
                <p class="cdtko-club-location">Newcastle</p>
                <p class="cdtko-club-name">Ravens</p>
            </div>
        </div>
        <div class="cdtko-container-bottom">
            <p class="cdtko-time">Countdown to Kickoff (15:00)</p>
            <p id="countdown-to-kickoff-countdown" class="cdtko-countdown"></p>
        </div>
    </div>
</div>
{% endblock %}